
.site-footer {
  background-color: #26272b;
  font-size: 15px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  text-transform: uppercase;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #36c;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #36c;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}