{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "base.twig" %}

{% set currentPage = '404' %}
{% set pageTitle = 'components.servicegrid.no_service.title'|translate %}
{% set error = false %}
{% block content %}
    {{ include("components/navbar.twig") }}   
    &nbsp;
    <div class="container h-100">
        <div class="row justify-content-center align-self-crow align-items-center h-100enter">
            <div class="col-6 mx-auto">
                <div class="card fat">
                    <div class="card-body alert-danger">
                        <h4 class="card-title text-center">{{ 'components.servicegrid.no_service.title'|translate }}</h4>
                        {{ 'components.servicegrid.no_service.text'|translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}