{#
# Copyright (C) 2021 Justin René Back <justin@tosdr.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<header class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img height="32" src="{{ config.s3_branding ~ "/tosdr-icon-32.svg" }}" alt="Logo"/>
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				{% include 'components/navbar.item.twig' with {"item": {"ID": "frontpage", "href": "/", "text": "components.navbar.home"|translate }} %}
				{% include 'components/navbar.item.twig' with {"item": {"ID": "about", "href": generateLink("about"), "text": "components.navbar.about"|translate }} %}
				{% include 'components/navbar.item.twig' with {"item": {"ID": "downloads", "href": generateLink("downloads"), "text": "components.navbar.download"|translate }} %}
				{% include 'components/navbar.item.twig' with {"item": {"ID": "new_service", "href": generateLink("new_service"), "text": "components.navbar.request_service"|translate }} %}
			</ul>

			<div class="text-end">
				<button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#languageModal">
					<i class="fas fa-language"></i>
					{{ locale|getlang(false).name|translate }}
				</button>
			</div>
		</div>
	</div>
</header>
