<li class="nav-item {% if currentPage == item.ID %} active{% endif %}">
	<a target="{{ item.target }}" class="nav-link {% if currentPage == item.ID %} active{% endif %}" href="{{ item.href }}">{{ item.text }}</a>
</li>
