[submodule "plugins/core"]
	path = plugins/core
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-Core.git
[submodule "plugins/discourse"]
	path = plugins/discourse
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-Discourse.git
[submodule "plugins/admin"]
	path = plugins/admin
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-Admin.git
[submodule "plugins/heroku"]
	path = plugins/heroku
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-Heroku.git
[submodule "plugins/examples"]
	path = plugins/examples
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-Examples.git
[submodule "plugins/statuspage"]
	path = plugins/statuspage
	url = https://github.com/PixelcatProductions/CrispCMS-Plugin-StatusPage
