RewriteEngine On

RewriteRule ^api/(.*)/service/(.*)$ api/api.php?apiversion=$1&q=$2 [NC,L,QSA]
RewriteRule ^api/(.*)/(.*)$ api/api.php?apiversion=$1&q=$2 [NC,L,QSA]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^themes/(.*)/img/logo/(.*)$ api/img.php?theme=$1&logo=$2 [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^(.*)/(.*)/(.*)$ index.php?l=$1&page=$2&q=$3 [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^(.*)/(.*)$ index.php?l=$1&page=$2 [NC,L,QSA]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^(.*)$ index.php?page=$1 [NC,L,QSA]


<Files ~ "\.(env)$">
    Order allow,deny
    Deny from all
</Files>