RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^static/(.*)$ ./static.php?page=$1 [NC,L,QSA]
RewriteRule ^product/(.*)/(.*)/(.*)$ ./product.php?id=$1&size=$2&type=$3 [NC,L,QSA]
RewriteRule ^product/(.*)/(.*)$ ./product.php?id=$1&size=$2 [NC,L,QSA]
RewriteRule ^product/(.*)$ ./product.php?id=$1 [NC,L,QSA]
RewriteRule ^user/(.*)$ ./profile.php?id=$1 [NC,L,QSA]
RewriteRule ^order/(.*)$ ./order.php?id=$1 [NC,L,QSA]
RewriteRule ^category/(.*)$ ./category.php?id=$1 [NC,L,QSA]
RewriteRule ^([^\.]+)$ $1.php [NC,L,QSA]