#Redirect 301 /index.html /
#Redirect 301 /about.html /about
#Redirect 301 /downloads.html /downloads
#Redirect 301 /contribute.html /about
#Redirect 301 /classification.html /classification
#Redirect 301 /thanks.html /thanks


RewriteEngine On


#RewriteCond %{REQUEST_URI} !=/balancer-manager
#RewriteRule ^api/(.*)/service/(.*)$ api/api.php?apiversion=$1&q=$2 [NC,L,QSA,B]
#RewriteRule ^api/(.*)/(.*)$ api/api.php?apiversion=$1&q=$2 [NC,L,QSA,B]

RewriteCond %{REQUEST_URI} !=/balancer-manager
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^themes/(.*)/img/logo/(.*)$ api/img/theme/$1/logo/$2 [NC,L,QSA,B]

#RewriteCond %{REQUEST_URI} !=/balancer-manager
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME}\.php !-d
#RewriteRule ^(.*)/(.*)/(.*)$ index.php?l=$1&page=$2&q=$3 [NC,L,QSA,B]

#RewriteCond %{REQUEST_URI} !=/balancer-manager
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME}\.php !-d
#RewriteRule ^(.*)/(.*)$ index.php?l=$1&page=$2 [NC,L,QSA,B]


RewriteCond %{REQUEST_URI} !=/balancer-manager
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}\.php !-d
RewriteRule ^(.*)$ index.php?route=$1 [NC,L,QSA,B]


<Files ~ "\.(env)$">
    Require all denied
</Files>
