<html>
    <head><title>401 Unauthorized</title></head>
    <body bgcolor="white">
    <center><h1>401 Unauthorized</h1></center>
    <p>{{ error_msg }}</p>
    <hr><center>{{ SERVER.SERVER_SIGNATURE|raw }}</center>
</body>
</html>

