{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{% set currentPage = 'highload' %}
{% set pageTitle = 'High Load!' %}

{% extends "errors/base.twig" %}

{% block content %}
  <div class="container">
    <div class="error">
      <h1>503</h1>
      <h2>High Load</h2>
      <p><i>Houston, we're down!</i></p>
      <p>We are currently experiencing a really high amount of requests</p>
      <p class='badge badge-success'><small><b>Check back later</b></small></p>
      <p>In the meantime, checkout our <a href="{{ generateLink("https://twitter.com/tosdr", true) }}">Twitter</a>!</p>
    </div>
    <div class="stack-container">
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 125px; --scaledist: .75; --vertdist: -25px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 100px; --scaledist: .8; --vertdist: -20px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist:75px; --scaledist: .85; --vertdist: -15px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 50px; --scaledist: .9; --vertdist: -10px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 25px; --scaledist: .95; --vertdist: -5px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 0px; --scaledist: 1; --vertdist: 0px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}